include ../includes/header.jade
div.page-data

    div.data-btn

        button(onClick="addContact();") + Add

    div.data-table

        table(border="1" cellpadding="7" cellspacing="7")

            tr
                th ID
                th(style='width: ' + (35) + '%') First Name
                th(style='width: ' + (35) + '%') Last Name
                th(style='width: ' + (15) +  '%') ACTIVE
                th(style='width: ' + 120 + 'px') Action

            each val in data
                tr
                    td= val.ID
                    td= val.FIRST_NAME
                    td= val.LAST_NAME
                    td
                        if val.ACTIVE_FLAG === 'Y'
                            <input type="checkbox" name="active_record" value="active" disabled readonly checked> Active<br>
                            <input type="checkbox" name="inactive_record" value="inactive" disabled readonly> Inactive<br>
                        else if val.ACTIVE_FLAG === 'N'
                            <input type="checkbox" name="active_record" value="active" disabled readonly> Active<br>
                            <input type="checkbox" name="inactive_record" value="inactive" disabled readonly checked> Inactive<br>

                    td
                        a(class="a-inside edit" href="../contacts/edit/" + val.ID) Edit

                        a(class="a-inside delete" href="../contacts/delete/" + val.ID) Delete
    if(data[0])
        form(method="get" action="/contacts/search/" + data[0].ID)
            input(type="text" name="search" placeholder="Search")
            input(type="submit" name="submit" value="Search")