doctype html
head
	title My Crud Stuff
	link(href="/../stylesheets/style.css" rel="stylesheet")
	script(src="//code.jquery.com/jquery-1.11.3.min.js")
	script(src='/../javascript/crud.js')
	script(src='/../javascript/weirdJavascript.js')
